-r requirements.txt

black
coverage==7.13.0
coveralls
distro
flake8
isort
mistletoe
autopep8
pep517
pip
pip-chill
pyinstaller
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytoml
ruff
setuptools
# because tensorflow recently moved the keras 
# out of the default package and now is only 
# available through the tf-nightly install.
# tf-nightly